.reveal .slides {
    text-align: left;
}
.reveal h2 {
    text-transform: none;
}
.reveal ul {
    padding-left: 0;
}
.reveal li {
    padding-top: 8px;
}
.shrink {
    float: left;
    width: 500px;
}
