<!-- User-error checks -->
{{- $err_common_msg := "\n Fix this issue *before* you start debugging the errors that follow.\n It is possible that those errors will go away once you fix this issue.\n" -}}
{{- if (and .Site.Params.source.md_dir (not .Site.Params.source.url)) -}}
    {{- errorf "You set .Site.Params.source.md_dir, but forgot to set .Site.Params.source.url!%s" $err_common_msg -}}
{{- end -}}
{{- if (and .Site.Params.source.org_dir (not .Site.Params.source.url)) -}}
    {{- errorf "You set .Site.Params.source.org_dir, but forgot to set .Site.Params.source.url!%s" $err_common_msg -}}
{{- end -}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    <head>
        <link href="https://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <!-- Above is a short hand for the below line. -->
        <!-- http://htmldog.com/guides/html/intermediate/metatags/ -->
        <!-- <meta http-equiv="content-type" content="text/html; charset=utf-8"> -->

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

        <!-- No referrer: https://webbkoll.dataskydd.net/en/ -->
        <meta name="referrer" content="no-referrer">

        <title>
            {{ if (eq .Kind "home") }}
                {{ .Site.Title }}
            {{ else if (eq .Kind "term") }}
                {{ printf "%s ‘%s’ | %s" (.Data.Singular | title) .Data.Term .Site.Title }}
            {{ else }}
                {{ printf "%s | %s" .Title .Site.Title }}
            {{ end }}
        </title>

        {{ with .Site.Params.favicon }}
            {{- . | safeHTML -}}
        {{ end }}

        <!-- KaTeX -->
        {{ partial "katex.html" }}

        {{ range .Site.Params.custom_css }}
            <link rel="stylesheet" href="{{ . | relURL }}">
        {{ end }}
        {{ block "head" . }}{{ end }}
    </head>

    <body lang="{{ .Site.Language.Lang }}">

        {{ block "top" . }}

        {{ with .Site.Taxonomies }}
            <div style="float: right;">
                [
                {{ $is_first_key := true }}
                {{ range $key,$val := . }}
                    {{ with site.GetPage "taxonomy" $key }}
                        {{ printf `%s <a href="%s">%s</a>` (cond $is_first_key "" "|") .Permalink .Type | safeHTML }}
                        {{ $is_first_key = false }}
                    {{ end }}
                {{ end }}
                {{ with site.GetPage "page" "search" }}
                    {{ printf `%s <a href="%s"><strong>%s</strong></a>` "|" .Permalink (.Title | lower) | safeHTML }}
                {{ end }}
                ]
            </div>
            <div style="clear: both;"></div> <!-- Clear floats -->
        {{ end }}

        <div class="masthead-title"><a href="/">{{ .Site.Title }}</a></div>
        <div class="masthead-body">
            {{ with .Site.Params.intro }}
                <p>
                    {{- . | safeHTML -}}
                </p>
            {{ end }}
            <hr>
        </div>

        {{ end }}               <!-- End of "top" block -->

        {{ block "main" . }}{{ end }}

        <hr>
        <p style="font-size: small;">
            Built with <a href="https://github.com/kaushalmodi/ox-hugo"><b>ox-hugo</b></a> for Emacs/Org-mode.
            {{ with .GitInfo }} <!-- To enable this, put "enableGitInfo = true" in your site config.toml -->
                {{ $git := . }}
                {{ with site.Params.source }}
                    Last commit <a href="{{ .url }}/commit/{{- $git.Hash -}}">
                    [{{- $git.AbbreviatedHash -}}]</a> on <b>{{ dateFormat "02-01-2006" $git.AuthorDate }}</b>.
                {{ end }}
            {{ end }}
        </p>
        {{ with .Site.Params.footer }}
            {{- . | safeHTML -}}
        {{ end }}
        {{ block "footer" . }}{{ end }}
    </body>
</html>

<!-- Reference time used in Go: Mon Jan 2 15:04:05 MST 2006, https://golang.org/pkg/time/#pkg-constants -->
