{{ define "head" }}

<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="post">
    <h1 class="post-title">{{ .Title }}
        {{ if .Params.draft }}
            <code style="color: rgba(0, 0, 0, 0.5);">✱DRAFT✱</code>
        {{ end }}
    </h1>

    <!-- Taxonomy debug -->
    {{ $page := . }}
    {{ with .Site.Taxonomies }}
        {{ range $key,$_ := . }}
            {{ with $page.Param $key }}
                {{ $val := . }}
                <p>
                    {{ printf `<span style="font-variant: small-caps;">%s</span>:` $key | safeHTML }}
                    {{ with site.GetPage "taxonomy" $key }}
                        {{ $taxonomy_page := . }}
                        {{ range $val }}
                            <a class="tag" style="font-size: small;" href="{{ printf "%s%s" $taxonomy_page.Permalink (. | urlize) }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    {{ end }}

    {{ with .Description }}
        <p style="font-size: small;">
            {{ . | markdownify }}
        </p>
    {{ end }}
    <hr />

    {{ partial "header_image.html" . }}
    <div style="margin-top: 40px;">
        {{ .Content }}
    </div>

</div>

{{ end }}
